# ========================
# Node.js
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ========================
# Environment Files
# ========================
.env
.env.local
.env.*.local

# ========================
# Logs
# ========================
logs
*.log

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Build / Vite
# ========================
dist/
build/

# ========================
# Coverage
# ========================
coverage/

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/

# ========================
# Mongo Local Data
# ========================
data/

# ========================
# Zip / Archives
# ========================
*.zip
